<!--login-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=:utf-8">
<link rel="stylesheet" href="css/aboutcss.css">
<script src="js/about.js"></script>
<title> True Trip </title>
</head>
<body>

<div id = "login">
  <table id = "login_table">

    <div class="imgcontainer">
      <img src="photo/main_photo/img_avatar.png" alt="Avatar" class="avatar">
    </div>
    <form method="post" action="/login">
    <div class="container">
      <label for="uname" ><b>Username</b></label>
      <input type="text" id ="usr_id" placeholder="Enter Username" name="uname" required>
<p></p>
      <label for="psw" ><b>Password</b></label>
      <input type="password" id = "usr_pwd" placeholder="Enter Password" name="psw" required>
<p></p>
      <button type="submit" id="usr_submit" >Login</button>
    </form>
        </div>
  </table>
</div>
</body>
